section {
float: right;
margin: 0 auto;
height: 100%;
width: 80%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 70%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.github a img {
  width: 175px;
  height: 75px;
}

div.github {
  margin: 0 auto;
  clear: both;
}

@media screen and (max-width: 980px) {


}

@media screen and (max-width: 768px) {
  section {
    margin: 0 auto;
    width: 100%;
    clear: both;
  }
  div.gallery {
    width: 100%;
    clear: both;
  }

}

@media screen and (max-width: 640px) {
  section {
    margin: 0 auto;
    width: 100%;
    clear: both;
  }
  div.gallery {
    width: 100%;
    clear: both;
  }

  div.flex h1 {
    width: 100%;
    clear: both;
  }

  img.avatar {
    display: none;
  }
}