header h1 {
    width: 100%;
    position: fixed;
    left: -20px;
  }

section {
    width: 80%;
    float: right;
    margin: 0 auto;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
}