header h1 {
  width: 100%;
  position: relative;
  left: -20px;
}

section {
    width: 70%;
    margin: 0 auto;
    float: center;
    padding: 15px;
    
  }

  section h2 {
    width: 75%;
    margin-left: 10%;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    
  }

  section h4 {
    color: red;
    margin: 0 auto;
    text-align: center;
  }

  section p {
    line-height: 30px;
    text-indent: 50px;
    width: 75%;
    margin-left: 10%;
    text-align: justify;
    font-family: "Source Code Pro", monospace;
  }



  @media screen and (max-width: 980px) {
    section {
      float: none;
      width: 100%;
      clear: both;
    }
  }
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 1.75rem;
    }
    
    section {
      float: none;
      width: 100%;
      clear: both;
    }
    
  }
  @media screen and (max-width: 640px) {
    header h1 {
      font-size: 1.75rem;
    }

    section {
      float: none;
      width: 100%;
      clear: both;
    }

  }
