header h1 {
  width: 100%;
  position: relative;
  left: -20px;
}

section {
    overflow: auto;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    float: center;
    padding: 15px;
    
  }

  section h2 {
    width: 75%;
    margin-left: 10%;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    
  }

  section h4 {
    color: red;
    margin: 0 auto;
    text-align: center;
    border: 1px solid blue;
  }

  .content {
    width: 70%;
    height: auto;
    padding: 2% 5% 3% 5%;
    line-height: 30px;
    text-indent: 50px;
    position: absolute;
    /* top: 0;
    left: 0; */
    text-align: justify;
    font-family: "Source Code Pro", monospace;
    

  }



  @media screen and (max-width: 980px) {
    section {
      float: none;
      width: 100%;
      clear: both;
    }
  }
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 1.75rem;
      margin-left: 10%;
    }
    
    section {
      float: none;
      width: 100%;
      clear: both;
    }
    
  }
  @media screen and (max-width: 640px) {
    header h1 {
      font-size: 1.75rem;
      margin-left: 10%;
    }

    section {
      float: none;
      width: 100%;
      clear: both;
    }

  }
